.contact-section {
    padding: 2rem 0;
    display: flex;
    text-transform: capitalize;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .header {
        margin: 2rem;
        text-align: center;
    }
}