.user-home {
    .intro-section {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;

        .text {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 35rem;
            margin-top: 9rem;

            h1 {
                font-size: 4rem;
            }

            span {
                font-size: x-large;
                padding: 2rem 0;
            }

            a {
                padding: 1rem 2rem;
                background-color: transparent;
                color: black;
                border-radius: 10px;
                font-size: larger;
                text-decoration: none;
                border: 1px solid gray;
            }
        }

        .image {
            width: 40rem;

            &>img {
                position: absolute;
                top: 7rem;
                transform: rotate(180deg);
                z-index: 1;
            }

            .person {
                img {
                    z-index: 100 !important;

                    &:first-child {
                        margin-left: 5rem !important;
                    }

                    &:last-child {
                        margin-left: -15rem !important;
                    }
                }

                display: flex;
            }
        }
    }

    .about-section {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70vh;

        .image {}

        .text {
            margin-left: 10rem;
            width: 35rem;

            span {
                font-size: larger;
            }

            h1 {
                font-size: 3rem;
            }

            p {
                font-size: x-large;
            }

            a {
                padding: 1rem 2rem;
                background-color: transparent;
                color: black;
                border-radius: 10px;
                font-size: larger;
                text-decoration: none;
                border: 1px solid gray;
            }
        }
    }

    .doctor-list-section {
        margin: 2rem 0;

        .header {
            position: relative;
            display: flex;
            justify-content: center;

            h1 {
                font-size: 3rem;
                text-align: center;
            }
        }

        .doctors-list {
            padding: 0 2rem;
            margin: 2rem 10rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: start;

            .card {
                display: flex;
                background-color: rgb(255, 255, 255);
                width: 30rem;
                padding: 1rem;
                box-shadow: 0 0 1px black;
                border-radius: 5px;
                margin: 1rem;

                .image {
                    img {
                        width: 5rem;
                        border-radius: 10px;
                        margin-right: 1rem;
                    }
                }

                .info {
                    margin-top: 1rem;
                    display: flex;
                    flex-direction: column;

                    strong {
                        font-size: x-large;
                    }

                    span {
                        font-size: larger;
                        margin: 0.2rem 0;
                    }

                    a {
                        padding: 0.3rem 1rem;
                        text-decoration: none;
                        background: linear-gradient(68.08deg, #9083D5 9.64%, #807593 92.49%);
                        width: fit-content;
                        border-radius: 10px;
                        color: white;
                        margin: 0.4rem 0;
                    }
                }
            }
        }
    }

    .contact-section {
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .header {
            margin: 2rem;
            text-align: center;
        }
    }
}


@media only screen and (max-width: 768px) {
    .user-home {
        .intro-section {
            padding-left: 2rem;
            height: 70vh;
            padding: 3rem;

            .text {
                margin-top: 2rem;
                padding: 0;

                h1 {
                    font-size: xx-large;
                }

                span {
                    font-size: larger;
                }
            }

            .image {
                &>img {
                    display: none;
                }

                .person {
                    position: absolute;
                    top: 8rem;
                    left: 24rem;

                    img {
                        &:first-child {
                            width: 15rem !important;
                            margin-left: -2rem !important;
                        }

                        &:last-child {
                            width: 15rem !important;
                            margin-left: -8rem !important;
                        }
                    }
                }
            }
        }

        .about-section {
            .image {
                width: 20rem;

                img {
                    width: 20rem;
                }
            }

            .text {
                padding: 3rem;

                h1 {
                    font-size: xx-large;
                }

                p {
                    font-size: larger;
                }

                margin: 0;
            }
        }

        .doctor-list-section {
            .header {
                h1 {
                    font-size: 2rem;
                    font-weight: 700;
                }
            }

            .doctors-list {
                padding: 0 1rem;
                margin: 2rem 1rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: start;

                .card {
                    width: 20rem;
                    .image {
                        img {
                            width: 3rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 414px) {
    .user-home {
        .intro-section {
            padding: 2rem 0;
            display: flex;
            height: fit-content;
            flex-direction: column;
            justify-content: start;

            .text {
                width: 20rem;

                h1 {
                    font-size: xx-large;
                }

                p {
                    font-size: large;
                }
            }

            .image {
                margin-top: 5rem;
                width: fit-content;
                display: flex;
                align-items: center;

                .person {
                    position: static;
                    left: 0;
                    bottom: -20rem;
                }
            }
        }

        .about-section {
            .image {
                display: none;
            }

            .text {
                h1 {
                    margin: 2rem 0;
                }
            }
        }
    }
}