nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.4rem;
    background-color: #03a8f42c;
    color: #43848a;
    width: 100%;
    height: 4.2rem;
    box-shadow: 0 3px 12px #03a8f42c;

    .logo {
        font-size: xx-large;
        font-weight: 600;
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            margin: 0 1rem;
            font-weight: 600;
            font-size: larger;
            cursor: pointer;
        }
    }
}